.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.editor-toolbar {
  display: flex;
  gap: 8px;
  margin-bottom: 10px;
}

.editor-container {
  border: 1px solid #ccc;
  padding: 12px;
  border-radius: 5px;
  min-height: 150px;
  background-color: white;
  cursor: text;
}

.ProseMirror {
  min-height: 100px;
  padding: 10px;
}

.nav-item:hover {
  background-color: var(--green);
  border-radius: 8px;
}

.delete-p {
  color: var(--red);
  cursor: pointer;
  text-decoration: underline;
  opacity: 0.8;
}

.delete-p:hover {
  font-weight: bold;
  opacity: 1;
}

.edit-p {
  color: var(--green);
  cursor: pointer;
  text-decoration: underline;
  opacity: 0.8;
}

.edit-p:hover {
  font-weight: bold;
  opacity: 1;
}

.save-btn {
  background-color: var(--green);
  color: white;
  border: none;
  cursor: pointer;
  opacity: 0.8;
}

.save-btn:hover {
  opacity: 1;
  background-color: var(--green);
}

.delete-btn {
  background-color: var(--red);
  color: white;
  border: none;
  cursor: pointer;
  opacity: 0.8;
}

.delete-btn:hover {
  opacity: 1;
  background-color: var(--red);
}

.info-btn {
  background-color: var(--grey);
  color: white;
  border: none;
  cursor: pointer;
  opacity: 0.8;
}

.info-btn:hover {
  opacity: 1;
  background-color: var(--grey);
}

.profile-image-small{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid ;
  margin-right: 3px;
}